@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-top, .leaflet-bottom {
       z-index: 500 !important;
}

.rise-up{
       transition: 0.2s ease-in-out all !important;
}

.rise-up:hover{
       transform: translateY(-3px);
}

body, html {
       font-family: 'Quicksand', sans-serif;
}
